<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="injection" class="yuhan.spring.sing.InjectionBean">
	</bean>


	<bean id="dependency" class="yuhan.spring.sing.DependencyBean" scope="singleton">
		<constructor-arg ref="injection"></constructor-arg>
		<property name="injection" ref="injection"></property>
	</bean>


</beans>
